---
import CodeEditor from "../components/CodeEditor";
---

<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Java Learning App</title>
</head>
<body>
	<h1>Welcome to the Java learning application.</h1>
	<p>ここでJavaの基本を学ぼう!!</p>
	
	<h2>Code Editor</h2>
	<CodeEditor />
</body>
</html>